<div data-controller = "selectmenu" class="form-group col align-items-center p-3 post-form">
  <div class="prefecture d-flex">
    <%= form.label "訪問した都道府県(複数選択可)", class:"form-label text-nowrap" %>
    <% PostPrefecture.prefectures.keys.map { |key| [key.humanize, key] } %>
    <select class="form-control w-25" data-selectmenu-target = "inputselect">
      <% PostPrefecture.prefectures.keys.map.each do | prefecture | %>
        <option><%= prefecture %></option>
      <% end %>
    </select>
    <button type="button" class="btn btn-primary rounded-circle" data-action="click->selectmenu#addSelect">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="invalid-feedback" id="select-invalid"></div>
  <div data-selectmenu-target="selects" class="select-list h4 d-block"></div>
</div>