<div data-controller="tag" class="form-group col p-3 post-form">
  <div class="d-flex">
    <%= form.label "タグ", class:"form-label w-25"%>
    <input type="input" class="form-control inputtag w-50" required= "true", placeholder="例) 女子旅" data-tag-target="input" >
    <button type="button" class="btn btn-primary rounded-circle" data-action="click->tag#addTag">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="invalid-feedback" id="tag-invalid"></div>
  <div data-tag-target="tags" class="tag-list h4">
  </div>
</div>