<div data-controller="images" class="post-form p-3">
  <label>サムネイル画像</label>
  <div class="imagedrag col bg-white"
       data-images-target="drop"
       data-action="dragover->images#dragOver dragleave->images#dragLeave drop->images#dropImages">
    <div id="imageinfo">
      <i class="fa-solid fa-circle-plus" style="font-size: 30px;"></i></br>
      <a>写真追加</a>
    </div>
  </div>
  <div data-images-target="preview" class="preview-area mt-3"></div>
  <div class="invalid-feedback" id="image-invalid"></div>
</div>