<div class="container">
  <div class=row>
    <% @postall.each do | post |%>
      <div class="col">
        <div class="card m-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%= render 'public/posts/good.html.erb', is_good_edit: false, post: post %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>