<div class="search">
  <div class="form-group">
    <input class="form-control" type="text" placeholder="キーワードを入力" data-action="keydown.enter->place#showSuggest" data-place-target="input">
    <i class="fa-solid fa-magnifying-glass" id="searchicon"></i>
    <div class="list-group list-group-flush" id="searchlists"></div>
  </div>
</div>