<div data-controller="images">
  <div class="form-group col">
   <div class="imagedrag bg-white"
       data-images-target="drop"
       data-action="dragover->images#dragOver dragleave->images#dragLeave drop->images#dropImages">
      <div id="imageinfo">
        <i class="fa-solid fa-circle-plus"></i></br>
        <a>写真追加</a>
      </div>
    </div>
    <div class="invalid-feedback" id="image-invalid"></div>
  </div>
</div>