<div class="container">
  <div class="row">
    <% if @category == "User" %>
      <% @user.each do | userdata | %>
        <% unless userdata.name == "guestuser" && userdata.email == "guest@example.com"%>
          <%= render 'public/posts/index.html.erb', targetpost: userdata.posts %>
        <% end %>
      <% end %>
    <% elsif @category == "Post" %>
      <%= render 'public/posts/index.html.erb', targetpost: @post %>
    <% end %>
  </div>
</div>