<div class="container" id="main-background">
  <div class="row">
    <% if @is_empty %>
      <div class="col">
        <% if @category == "user_search" %>
          <p>検索条件に当てはまるユーザが見つかりませんでした。</p>
        <% else %>
          <p>検索条件に当てはまる投稿が見つかりませんでした。</p>
        <% end %>
        <p>検索のヒント:</p>
        <ul>
          <li>キーワードに誤字・脱字がないか確認します。</li>
          <li>別のキーワードを試してみます。</li>
          <li>もっと一般的なキーワードに変えてみます。</li>
          <li>キーワードの数を減らしてみます。</li>
          <li>検索条件を変更してみます。</li>
        </ul>
      </div>
    <% else %>
      <% if @category == "user_search" %>
        <%= render 'public/users/index', targetuser: @results %>
      <% else %>
        <%= render 'public/posts/index', targetpost: @results %>
      <% end %>
    <% end %>
  </div>
</div>