<div class="container">
  <div class="row">
    <div class="col">
      <% if @user != nil %>
        <% @user.each do | userdata | %>
          <%= link_to userdata.name, mypage_path %>
        <% end %>
      <% end %>

      <% if @post != nil %>
        <% @post.each do | postdata | %>
          <%= link_to postdata.title , post_path( postdata.id ) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>