<div class="container" id="main-background">
  <div class="row">
    <% if @category == "user_search" %>
      <%= render 'public/users/index.html.erb', targetuser: @user %>
    <% elsif @category == "post_search" %>
      <%= render 'public/posts/index.html.erb', targetpost: @post %>
    <% end %>
  </div>
</div>