<div class="container">
  <div class="row">
    <div class="col">
      <% if @category == "User" %>
        <% @user.each do | userdata | %>
          <%= link_to userdata.name, mypage_path %>
        <% end %>
      <% elsif @category == "Post" %>
        <% @post.each do | postdata | %>
          <%= link_to postdata.title , mypage_path %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>