<div class="container">
  <div class="row">
    <div class="about-text">
      <div class="h3 text-left">Travelogとは</div>
      <div class="text-left">ユーザの旅行体験した感想を参考に</div>
      <div class="text-left">自身の旅行計画を良くしたい人向けサイトです</div>
    </div>
  </div>
  <div class="row mt-5">
    <label class="border-0 rounded-pill h-25 bg-success text-white text-center" style="width: 10%;">Step1</label>
    <div class="col">
      <%= image_tag asset_path('postimage.PNG'),size: "500x300", class:"mt-3 rounded"  %>
    </div>
    <div class="col">
      <div>まずは、旅行先や地域名などで投稿を検索してみよう</div>
    </div>
  </div>
  <div class="row mt-5">
    <label class="border-0 rounded-pill h-25 bg-success text-white text-center" style="width: 10%;">Step1</label>
    <div class="col">
      <%= image_tag asset_path('postshow.PNG'),size: "500x300", class:"mt-3 rounded"  %>
    </div>
    <div class="col">
      <div>様々な投稿の中から、良いと思った投稿を見つけて参考にしよう</div>
    </div>
  </div>
  <div class="row mt-5">
    <label class="border-0 rounded-pill h-25 bg-success text-white text-center" style="width: 10%;">Step1</label>
    <div class="col">
      <%= image_tag asset_path('postnew.PNG'),size: "500x300", class:"mt-3 rounded"  %>
    </div>
    <div class="col">
      <div>旅行から帰ってきたら、旅行内容について投稿してみよう</div>
    </div>
  </div>
</div>
<% breadcrumb :about, @about %>

