<div class="container-fluid">
  <div class="about-text">
    <div class="text-center h3">Travelogでできること</div>
    <div class="text-center h5 mt-5">事前に用意した旅行計画と、実際に旅行した内容が異なることはありませんか</div>
    <div class="text-center h5 mt-5">実際の旅行プランや、旅行後の感想をレビュー</div>
    <div class="text-center h5 mt-5">あなたの旅行を失敗しない楽しい旅行に</div>
  </div>
</div>

