<div class="container">
  <div class="row">
    <div class="about">
      <div class="h1 text-left">Travelogとは</div>
      <div class="mt-2 p-3 rounded about-items">
        <div class="text-left">ユーザの旅行体験した感想を参考に、自身の旅行計画を良くしたい人向けサイトです</div>
      </div>
    </div>
  </div>
  <div class="row mt-5 pb-5 pl-3 pt-5 about-items rounded ">
    <label class="border-0 rounded-pill h-25 bg-info text-white text-center" style="width: 10%;">Step1</label>
    <div class="col">
      <%= image_tag asset_path('postimage.PNG'),size: "500x300", class:"rounded"  %>
    </div>
    <div class="col">
      <h4 class="rounded-pill bg-info text-center text-white">投稿を検索してみよう</h4>
      <div class="explanation mt-4 border border-info">
        <p class="p-4">・検索欄に好きなキーワードを入力し検索ボタンを押すと、関連する投稿が一覧として表示されます。</p>
        <p class="p-4">・更に絞り込み検索を行うと、投稿月や評価数などで投稿を絞り込むことが出来ます。</p>
      </div>
    </div>
  </div>
  <div class="row mt-5 pb-5 pl-3 pt-5 about-items rounded ">
    <label class="border-0 rounded-pill h-25 bg-info text-white text-center" style="width: 10%;">Step2</label>
    <div class="col">
      <%= image_tag asset_path('postshow.PNG'),size: "500x300", class:"rounded"  %>
    </div>
    <div class="col">
      <h4 class="rounded-pill bg-info text-center text-white">旅行計画を立てよう</h4>
      <div class="explanation mt-4 border border-info">
        <p class="p-4">・他のユーザが投稿した投稿を参考に、実際に旅行計画を立ててみましょう。</p>
        <p class="p-4">・旅行先でどこに訪問するか決めかねるときは、投稿内にある各訪問地のコメントや評価数を見てみましょう。</p>
      </div>
    </div>
  </div>
  <div class="row mt-5 pb-5 pl-3 pt-5 about-items rounded ">
    <label class="border-0 rounded-pill h-25 bg-info text-white text-center" style="width: 10%;">Step3</label>
    <div class="col">
      <%= image_tag asset_path('postnew.PNG'),size: "500x300", class:"rounded"  %>
    </div>
    <div class="col">
      <h4 class="rounded-pill bg-info text-center text-white">旅行内容を投稿しよう</h4>
      <div class="explanation mt-4 border border-info">
        <p class="p-4">・旅行から帰ってきたら、旅行内容や訪問地について投稿してみましょう。</p>
        <p class="p-4">・更に訪問地の良さや注意点などをコメントに記載することで、他のユーザが旅行計画を立てる場合に役に立ちます。</p>
      </div>
    </div>
  </div>
</div>
<% breadcrumb :about, @about %>

