<div class="container-fluid" style="background: url('<%= image_url '_50A7795_TP_V.jpg' %>'); background-size:cover; height: 800px; position: absolute;">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
