<div class="container-fluid"  style="height: 100vh; top: 0px; position:absolute; background: url('<%= image_url '_50A7795_TP_V.jpg' %>'); background-size:cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center center;">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
