@use '~bootstrap/scss/bootstrap';

#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

#dropdown_content{
  display: none;
}

.swiper-container {

  height: 500px;
  overflow: hidden;
}


.swiper-wrapper {

}

.swiper-slide {
  text-align: center;
}

.swiper-slide > img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}
