@use '~bootstrap/scss/bootstrap';
@import 'swiper/swiper-bundle';

#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

#dropdown_content{
  display: none;
}

.swiper {
  width: 600px;
  height: 300px;
}

:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}