@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Playwrite+CU:wght@100..400&family=Zen+Kurenaido&display=swap');

#post_map {
  /*width: 100%;*/
  width: 800px;
  /*height: calc(100vh - 88px - 179px);*/
  height: 1000px;

}
#user_map {
  /*width: 100%;*/
  width: 100%;
  /*height: calc(100vh - 88px - 179px);*/
  height: 800px;

}

#dropdown_content{
  display: none;
}

.swiper-container {
  height: 500px;
  overflow: hidden;
  width: 500px;
  margin: auto;
}


.swiper-wrapper {
  width: 400px;
}

.swiper-slide {
  text-align: center;
}

.swiper-slide > img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.line{
  border-radius: 0.06rem;
  background-color: gray;
  height: 100px;
  width: 5px;
}

#slider img {
  position: absolute;
  opacity: 0;
  transition: .8s;
  height: 100vh;
  width: 100vw;
}
#slider img.show {
  opacity: 1;
  z-index: 0;
}

.navbar{
  background-color: #90b0d6;
}

.nav-item{
  margin-right: 20px;
}

body{
  font-family: 'Klee One', sans-serif;
}

.top-text{
  color: white;
  font-family: 'Playwrite CU', sans-serif;
}

.about-text{
  margin-top: 10%;
}

.modal-backdrop{
  z-index: 0;
}

.nextbutton{
  width: 10rem;
  height: 10rem;
}

.imagedrag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 10rem;
  border-style: dotted;
  border-width: 1px;
  border-color: black;
}
.form-label{
  text-align: left;
}

.plusbutton{
  width: 3rem;
  height: 3rem;
}

button.fa-solid {
  border: none;
  background-color: white;
}

#searchlists{
  position: absolute;
  z-index: 1;
}

#placesavebutton{
  width: 10rem;
  height: 10rem;
  position: absolute;
  right: 5%;
  top: 70%;
  z-index: 1;

}

#savetabbutton{
  margin-top: 50%;
  width: 100%;
}