<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th scope="col">ユーザ名</th>
          <th scope="col">作成日時</th>
        </tr>
        <tbody>
          <% @userall.each do | user |%>
            <tr>
            <td><%= link_to user.name, admin_user_path(user.id) %></td>
            <td><%= user.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>