<% targetuser.each do | user | %>
  <div class="col col-3 mt-4" id="search-user-index">
    <div class="card border-dark" id="search-user-index-card">
      <%= user_index_image(user, "200x180") %>
      <div class="card-body text-dark">
        <h5 class="card-title"><%= link_to user.name, mypage_path(user.id) %></h5>
        <% if user.introduction.present? %>
          <%= user.introduction.truncate(40) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>