<div class="container-field" style="height: 100vh;" data-controller="user" data-id=<%= current_user.id %>>
  <div class="row" style="height: 100vh;">
    <div class="col-sm-2 usermenu pr-0">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action usermenu" data-user-target="profile" data-action="click->user#renderProfile" >プロフィール設定</li>
        <li class="list-group-item list-group-item-action usermenu" data-user-target="user" data-action="click->user#renderUserSetting" >ユーザ設定</li>
        <li class="list-group-item list-group-item-action list-group-item-danger" style="position: relative; top: 80vh;" data-user-target="delete" data-action="click->user#withdrawUser" >退会</li>
      </ul>
    </div>
    <div class="col-sm-9 mt-3 ml-3" data-user-target="template">
       <%= render 'public/users/profile.html.erb' %>
       <%= render 'public/users/infomation.html.erb' %>
    </div>
  </div>
</div>
