<div class="container">
  <div class="row">
    <div class="col">
      <h1>マイページ</h1>
        <%= render 'public/searches/search.html.erb' %>
        <%= link_to 'ユーザ編集', infomation_users_path, class: "btn btn-primary" %>
        <h3>投稿一覧</h3>
          <% @user.posts.each do | post | %>
            <% unless post.is_release == false && current_user.id != post.user_id %>
              <%= link_to post.title , post_path( post.id ) %>
            <% end %>
          <% end %>
    </div>
  </div>
</div>