<div class="container" id="main-background">
  <%= render 'public/users/mypage.html.erb', user: @user %>
  <div id="user_map" data-id="<%= @user.id %>"></div>
</div>
<% breadcrumb :user_show, @user %>
<%= javascript_pack_tag 'user_map', 'data-turbolinks-track': 'reload' %>