<div class="container">
  <%= render 'public/users/mypage.html.erb', user: @user %>
  <div id="map" data-id="<%= @user.id %>"></div>
  <%= javascript_pack_tag 'user_map', 'data-turbolinks-track': 'reload' %>
</div>