<div class="container">
  <%= render 'public/users/mypage.html.erb', user: @user%>

  <div class="row mt-5">
    <%= render 'public/posts/index.html.erb', targetpost: @user.posts %>
  </div>
</div>
<% breadcrumb :user_show, @user %>